// white colors
$white: #fff;
$platinum: #e8e8e8;
$gray: #bababa;

// orange colors
$dark-salmon: #ee9480;
$melon: #f4baae;
$pale-ping:#fadfda;

// blue colors
$ball-blue: #2ab7ca;
$middle-blue: #77d1dd;
$blue-lagoon: #b1e4eb;

// gray colors
$onyx: #333745;
$spanish-gray: #8f9199;
$lavander-gray: #c7c8cc;

// black colors
$raising-black: #221d23;
$nickel: #726f73;
$silver-chalice: #aeacaf;

// font family
$raleway: 'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// font wight
$regular:400;
$black:700;

// font sizes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large:40px;
$xx-large:35px;
$x-large:30px;
$large:20px;
$medium:16px;
$small:14px;
$x-small:12px;
